<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% for link in site.nav_links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <main>{{ content }}</main>
    <footer>
      <p>&copy; {{ site.time | date: "%Y" }}</p>
    </footer>
  </body>
</html>
